# Configurações do Firebase (Plano Gratuito Spark)
# Obtenha essas credenciais no console do Firebase (Configurações do Projeto > Seus aplicativos)
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""
